* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  display: grid;
  place-content: center;
  background: #003cffc0;
}

.form {
  width: 35vw;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.658);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 3.5vw;
}

.form-group {
  width: 25vw;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
}

input:focus,
input:valid {
  background: #ddd;
}

.form button {
  width: 20vw;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form button:hover {
  background: #45a049;
}

@media screen and (max-width: 768px) {
  #singup {
    width: 100%;
    padding: 10px;
  }

  h2 {
    font-size: 8vw;
  }
  .form-group {
    width: 20vw;
  }
  #signup input {
    width: 20vw;
  }
  .form button {
    width: 20vw;
  }
}

@media screen and (max-width: 480px) {
  #signup {
    width: 100%;
    padding: 10px;

    h2 {
      font-size: 8vw;
    }

    .form-group {
      width: 60vw;
    }
    input {
     width: 60vw;
   }
    button {
     width: 60vw;
   }
  }
  #signin {
    width: 60%;
    margin-left: -40px;
    padding: 10px;

    h2 {
      font-size: 8vw;
    }

    .form-group {
      width: 50vw;
    }
    input {
     width: 50vw;
   }
    button {
     width: 50vw;
   }
  }
}


#signup {
  display: none;
}

#signin {
  position: absolute;
  top: 25%;
  left: 32.5%;
  /* display: none; */
}

a {
  text-decoration: none;
  margin-top: 10px;
}
